//- layout.pug
doctype html
html
  head
    title Arvind Dance Academy
    block scripts
    block style
  body
    nav#navbar
      ul
        li#logo
          img(src="/static/img/logo1.png")
        li
          a(href="/") Home
        li
          a(href="/") About
        li
          a(href="/") Services
        li
          a(href="/") Class Info
        li
          a(href="/contact") Contact Us
    block content
    footer#footer
      | Copyright © 2023 Arvind'sDanceAcademy.com | All Rights Reserved
